<!DOCTYPE html>
<html>
<head>
	<title>RESULTS</title>
	<link rel="stylesheet" type="text/css"  href="styles.css">
</head>
<body>
<center>
<H1>ISBN RESULT:</H1>
<form action="show_isbn" method="post" >
<h2><%= @num + @result%></h2>
<br>
<br>
<br>
<a href="../">TRY ANOTHER ISBN</a>
</form>
</center>
</body>
</html>