<!DOCTYPE html>
<html>
<head>
	<title>RESULTS</title>
	<link rel="stylesheet" type="text/css"  href="styles.css">
</head>
<body>
<center>
<H1>THIS IS YOUR ISBN RESULT</H1>
<form action="show_isbn" method="post" >
<h1>"<%= @result %>"</h1>
</form>
</center>
</body>
</html>