<!DOCTYPE html>
<html>
<head>
	<title>RESULTS</title>
	<link rel="stylesheet" type="text/css"  href="styles.css">
</head>
<body>
<center>
<H1>Please enter a ISBN#:</H1>
<form action="isbn_num" method="post" >
<input field name="isbn" placeholder="INSERT HERE">
<input type="submit" value="SEND">
</form>
</center>
</body>
</html>